body {
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to top left, #4d4d4d, rgb(36, 36, 36));
  justify-content: center;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 2rem;
    
}